@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
body{
    width: 100vw;
    overflow: hidden visible;
    margin: 0;
    font-family: Mukta;
}



.logo{
    width: 12vw;
}



.navFlex{
    background-color: white;
    z-index: 3;
    justify-content: space-between;
    padding: 5px;
    position: sticky;
    top: 0;
}



.searchBar-1920, .navFlex, .buttonGroup{
    display: flex;
    height: 55px;
}
.searchBar-1920{
    align-items: center;
}
.searchBar-720{
    height: 28px;
    width: 28px;
    display:none;
    border: none;
    margin: 10.5px;
}
.imgSearch-1920{
    margin-left: -25px;
    height: 18px;
    width: 18px;
}
.searchBtn-720{
    height: 32.6px;
    background-color: white;
    border: none;
    cursor: pointer;
}
.imgSearch-720{
    height: 24px;
    cursor: pointer;
}
.searchBarImg{
    margin-left: -30px;
}
.searchText{
    margin: auto;
    padding-left: 10px;
    width: 25vw;
    height: 30px;
    border-radius: 5px;
    border: 1px solid lightgray;
}



.hamburgerMenu > h2{
    margin-left: 20px;
 }
.menu{
    height: 28px;
    width: 28px;
}
.hamburgerIcon{
    border: none;
    background-color: white;
    cursor:pointer;
    margin-right: 20px;
    margin-top: 10px;
}
.hamburgerMenu{
    z-index: 2;
    position: absolute;
    right: 0;
    display: flex;
    transform: translateX(750px);
    transition: transform .5s ease-in;
    width: 450px; 
    height: 120vh;
    background: white;
    flex-direction: column;
}
.menuContent{
    display: flex;
    border-bottom: 1px lightgray solid;
    height: 55px;
    align-items: center;
}
.menuContent > a{
    text-decoration: none;
    color: black;
}
.menuContent:hover{
    background-color: yellow;
}
.menuFooter{
    position: absolute;
    bottom: 0px;
    height: 36vh;
    width: 100%;
    background-color: rgb(241, 241, 241);
}
.menuFooterImg{
    height: 50px;
    top: 20px;

}
.menuFooterText{
    display: flex;
    flex-direction: column;
    line-height: 0.1vh;
    top: 80px;
}
.menuFooterImg, .menuFooterText{
    position: absolute;
    left: 30px;
}




.headerImg{
    width: 100%;
    border:none;
    position: relative;
}
.headerLetter3, .headerLetter6, .headerLetter12{
    margin-right: 20px;
}
.headerLetter1, .headerLetter2, .headerLetter3, .headerLetter4, .headerLetter5, .headerLetter6, .headerLetter7, .headerLetter8, .headerLetter9, .headerLetter10, .headerLetter11, .headerLetter12, .headerLetter13, .headerLetter14, .headerLetter15, .headerLetter16, .headerLetter17, .headerLetter18{
    animation-name: headerImgAnimation;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}
.headerLetter1{
    width: 50px;
}
.headerLetter2{
    animation-delay: .15s;
    width: 18px;
}.headerLetter3{
    animation-delay: .3s;
    width: 50px;
}.headerLetter4{
    animation-delay: .45s;
    width: 50px;
}.headerLetter5{
    animation-delay: .6s;
    width: 45px;
}.headerLetter6{
    animation-delay: .75s;
    width: 20px;
}.headerLetter7{
    animation-delay: .9s;
    width: 50px;
}.headerLetter8{
    animation-delay: 1.05s;
    width: 40px;
}.headerLetter9{
    animation-delay: 1.2s;
    width: 55px;
}.headerLetter10{
    animation-delay: 1.35s;
    width: 55px;
}.headerLetter11{
    animation-delay: 1.5s;
    width: 40px;
}.headerLetter12{
    animation-delay: 1.65s;
    width: 60px;
}.headerLetter13{
    animation-delay: 1.8s;
    width: 55px;
}.headerLetter14{
    animation-delay: 1.95s;
    width: 55px;
}.headerLetter15{
    animation-delay: 2.1s;
    width: 45px;
}.headerLetter16{
    animation-delay: 2.25s;
    width: 50px;
}.headerLetter17{
    animation-delay: 2.4s;
    width: 45px;
}.headerLetter18{
    animation-delay: 2.55s;
    width: 50px;
}

.headerAnimation{
    display: flex;
    align-content: center;
    padding: auto;
}
.headerImgText{
    font-weight: bold;
    opacity: 0;
    position: relative;
    color: white;
    bottom: 18%;
    text-shadow: -1.5px 1.5px 0 #9C989B,
                          1.5px 1.5px 0 #9C989B,
                         1.5px -1.5px 0 #9C989B,
                        -1.5px -1.5px 0 #9C989B;
}
.headerImgContent{
    z-index: 2;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}
.headerImgText2{
    margin-bottom: 40px;
    opacity: 0;
    animation-name: headerImgTextAnimation;
    animation-duration: 3.5s;
    animation-delay: 3s;
    position: absolute;
    color: white;
    text-shadow: -0.8px 0.8px 0 gray,
                          0.8px 0.8px 0 gray,
                         0.8px -0.8px 0 gray,
                        -0.8px -0.8px 0 gray;
    animation-fill-mode: forwards;
    font-size: 2ch;

}
.headerImgButton{
    opacity: 0;
    animation-name: headerImgButtonAnimation;
    animation-duration: .5s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
    top: 55%;
    position: absolute;
    cursor: pointer;
    border: none;
    font-size: 20px;
    height: 5ch;
    width: 16ch;
    border-radius: 3px;
    color: white;
    background-color: #7BC144;
}
.headerArrow{
    bottom: 0;
    width: 100%;
    border: none;
    z-index: 1;
}




.mainTjenester{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}
.tjenesterFlex{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.tjenester{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    flex-direction: row;
}
.info{
    display: none;
    border-radius: 4px;
    padding: 5px;
    padding-bottom: 15px;
    width: 230px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: absolute;
    margin-top: -26vh;
    font-size: .85rem;
}
.tjenesterImg{
    cursor: pointer;
}
.tjenesterImg:hover ~ .info{
   display: block;
}



.omBring{
    background-color: #EDCB35;
    padding: 25px;
    padding-bottom: 75px;
    margin-top: 30px;
}
.omBringImg{
    width: 140px;
    height: 140px;
}
.omBringHeader{
    font-size: 35px;
}
.omBringHeaderGroup{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.omBringFlex{
    display: flex;
    margin: 0 auto;
    width: 100%;
}
.omBringText{
    font-size: 18px;
    padding: 20px;
    width: 30vw;
}
.omButton, .e-HandelBtn, .serviceBtn, .customerServiceBtn{
    width: 12ch;
    height: 5ch;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    background-color: #333333;
    color: white;
    cursor: pointer;
}
.omButton > a, .e-HandelBtn > a, .serviceBtn > a, .customerServiceBtn > a, .headerImgButton > a{
    text-decoration: none;
    color: white;
}




/* E-handel/Service - Styling */
.e-Handel{
background-color: #7BC144;
}
.e-Handel, .service{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    width: 100%;
}
.e-HandelHeader, .e-HandelP{
    color: white;
}
.e-HandelHeader, .serviceHeader, .customerServiceHeader{
    font-size: 60px;
}
.e-HandelImg, .serviceP{
    height: 240px;
    width: 180px;
}
.serviceP, .e-HandelP{
    width: 80%;
}
.e-HandelP, .serviceP{
    text-align: center;
    font-size: 25px;
}
.serviceBtn{
    position: relative;
    top: -20%;
}






.customerService{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDCB35;
    height: 775px;
    width: 100%;
}
.customerServiceBtn{
    margin-top: 15px;
}
.customerServiceImg{
    width: 340px;
    height: 420px;
    margin-left: 150px;
}
.customerServiceFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.customerP{
    width: 375px;
}
.customerGroup{
    position: relative;
}



.job{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
    background-image: url(Img/budbil1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.job > *{
    position: absolute;
}
.jobImg{
    width: 110%;
    z-index: -1;
}
.jobHeader{
    font-size: 6rem;
    color: white;
}
.jobBtn{
    background-color: #7BC144;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    width: 16ch;
    height: 5ch;
    cursor: pointer;
}
.jobBtn > a{
    text-decoration: none;
    color: white;   
}



.footerContact{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
    height: 700px;
    width: 100%;
    position: absolute;
}
.footerFlex{
    display: flex;
    max-width: 1200px;
}
.footerInfo{
    margin-left: 8vh;
    margin-right: 8vh;
}
.footerP{
    width: 250px;
}
.footerH1, .footerP{
    color: white;
}
.footerH1{
    font-size: 42px;
}
.footerH2{
    color:#7BC144;
}
.footerImgGroup{
    width: 100%;
    display: flex;
    justify-content: center;
}
.footerImgSize1, .footerImgSize2, .footerImgSize3, .footerImgSize4{
   fill: lightgray;
   width: 5%;
   margin: 8px;
   cursor: pointer;
}
.footerImgSize1:hover > .footerImg1{
    fill: #475993;
}
.footerImgSize2:hover > .footerImg2{
    fill: #0077B7;
}
.footerImgSize3:hover > .footerImg3{
    fill: rgb(117, 183, 224);
}
.footerImgSize4:hover > .footerImg4{
    fill: rgb(80, 80, 172);
}



@keyframes headerImgButtonAnimation{
    0%{
        opacity: 0;
        font-size: 5px;
    }
    33%{
        opacity: .8;
        font-size: 24px;
    }
    100%{
        opacity: 1;
        font-size: 20px;
    }
}
@keyframes headerImgButtonAnimation2{
    0%{
        opacity: 0;
        font-size: 3px;
    }
    33%{
        opacity: .8;
        font-size: 18px;
    }
    100%{
        opacity: 1;
        font-size: 14px;
    }
}
@keyframes headerImgButtonAnimation3{
    0%{
        opacity: 0;
        font-size: 2px;
    }
    33%{
        opacity: .8;
        font-size: 16px;
    }
    100%{
        opacity: 1;
        font-size: 12px;
    }
}
@keyframes headerImgTextAnimation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes headerImgTextAnimation2{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes headerImgTextAnimation3{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes headerImgAnimation{
    5%{
        opacity: 0;
        font-size: 100px;
    }
    20%{
        font-size: 90px;
    }
    100%{
        
        font-size: 80px;
        opacity: 1;
    }
}
@keyframes headerImgAnimation2{
    5%{
        opacity: 0;
        font-size: 65px;
    }
    20%{
        font-size: 55px;
    }
    100%{
        
        font-size: 45px;
        opacity: 1;
    }
}
@keyframes headerImgAnimation3{
    5%{
        opacity: 0;
        font-size: 50px;
    }
    20%{
        font-size: 40px;
    }
    100%{
        
        font-size: 30px;
        opacity: 1;
    }
}



@media screen and (min-width: 1920px) {
    .searchBar-1920{display: flex;}
    .searchBar-720{display: none;}
    .hamburgerMenu{height: 40vh;}
    .tjenesterImg{height: 240px; width: 240px;}
    .info{width: 240px;}

    .omBringFlex{flex-direction: row;}
}
@media screen and (min-width: 721px) and (max-width: 1080px){
    .tjenesterImg{height: 180px; width: 180px;}
    .info{width: 180px;}
    .jobHeader{font-size: 4rem;}
    .jobBtn{font-size: 14px}
}
@media screen and (max-width: 813px) {
    .customerService{height: 850px;}
}
@media screen and (min-width: 814px) and (max-width: 1000px) {
    .customerService{height: 600px;}
}
@media screen and (min-width: 1081px) and (max-width: 1200px){
    .info{margin-top: -180px;}
    .tjenesterImg{height: 210px; width: 210px;}
    .info{width: 210px;}
    .serviceImg{width: 220px; height: 130px;}
    .jobHeader{font-size: 5rem;}
    .jobBtn{font-size: 16px}
    .customerServiceImg{width: 320px; height: 380px;}
}
@media screen and (min-width: 880px) and (max-width: 1080px) {
    .info{margin-top: -200px;}
}
@media screen and (max-width: 879px) {
    .info{margin-top: -250px;}
}
@media screen and (max-width: 1081px){
    .footerFlex{flex-direction: column;}
    .footerContact{height: 1150px;}
    .job{background-position: 80%;}
    .jobBtn{font-size: 12px}
    .jobHeader{font-size: 3rem;}
    .e-HandelImg{width: 130px; height: 160px;}
    .serviceImg{width: 200px; height: 110px;}
    .e-HandelHeader, .serviceHeader, .customerServiceHeader{font-size: 40px;}
    .serviceP, .customerServiceP {font-size: 20px;}
    .e-Handel, .service{height: 550px;}
    }
    @media screen and (min-width: 1081px){
        .headerImgContent{margin-top: 10vh;}

    }
    @media screen and (max-width: 1120px) {
        .footerImgSize1, .footerImgSize2, .footerImgSize3, .footerImgSize4{width: 8%;}
    }
@media screen and (max-width: 1081px) and (min-width: 780px){
    .headerImgButton{animation-name: headerImgButtonAnimation2}
    .headerImgText{animation-name: headerImgAnimation2;}
    .headerImgText2{animation-name: headerImgTextAnimation2;}
        .headerLetter1{
            width: 30px;
        }.headerLetter2{
            width: 12px;
        }.headerLetter3{
            width: 28px;
        }.headerLetter4{
            width: 28px;
        }.headerLetter5{
            width: 25px;
        }.headerLetter6{
            width: 4px;
        }.headerLetter7{
            width: 28px;
        }.headerLetter8{
            width: 24px;
        }.headerLetter9{
            width: 30px;
        }.headerLetter10{
            width: 30px;
        }.headerLetter11{
            width: 24px;
        }.headerLetter12{
            width: 30px;
        }.headerLetter13{
            width: 32px;
        }.headerLetter14{
            width: 32px;
        }.headerLetter15{
            width: 26px;
        }.headerLetter16{
            width: 30px;
        }.headerLetter17{
            width: 24px;
        }.headerLetter18{
            width: 50px;
        }
        .headerImgContent{
            font-size: 10px;
        }
        .headerImgText2{
            top: 34%;
        }
        .headerImgButton{
            top: 48%;
        }
}
@media screen and (max-width: 779px) {
    .headerImgContent{top: -40px;}
    .headerImgButton{animation-name: headerImgButtonAnimation3}
    .headerImgText{animation-name: headerImgAnimation3;}
    .headerImgText2{animation-name: headerImgTextAnimation3;}
    

        .headerLetter1{
            margin-left: 30px;
            width: 22px;
        }.headerLetter2{
            width: 9px;
        }.headerLetter3{
            width: 10px;
        }.headerLetter4{
            width: 20px;
        }.headerLetter5{
            width: 19px;
        }.headerLetter6{
            width: 0px;
        }.headerLetter7{
            width: 20px;
        }.headerLetter8{
            width: 16px;
        }.headerLetter9{
            width: 21px;
        }.headerLetter10{
            width: 21px;
        }.headerLetter11{
            width: 18px;
        }.headerLetter12{
            width: 17px;
        }.headerLetter13{
            width: 22px;
        }.headerLetter14{
            width: 22px;
        }.headerLetter15{
            width: 18px;
        }.headerLetter16{
            width: 20px;
        }.headerLetter17{
            width: 17px;
        }.headerLetter18{
            width: 50px;
        }
        .headerImgText2{
            top: 34%;
        }
        .headerImgButton{
            top: 44%;
        }
        .headerImgContent{
            font-size: 8px;
            top: 25px;
        }
}
@media screen and (max-width: 900px) {
    .customerGroup{margin: 0 auto;}
    .customerServiceImg{width: 280px; height: 340px;}
}
@media screen and (min-width: 900px) and (max-width: 1199px) {
    .customerService{height: 720px;}
}
@media screen and (max-width: 720px) {
    .searchBar-1920{display: none;} 
    .searchBar-720{display: flex;}
    .hamburgerMenu{top: 65px; width: 100vw; height: 140vh;}
    .menuFooter{height: 40vh}
    .tjenesterImg{height: 150px; width: 150px;}
    .info{width: 150px;}
    .tjenesterFlex{font-size: 12px;}
    .maintjenester{height: 150vh;}
    .omBringFlex{flex-direction: column;} 
    .omBringText{width: 66vw}
    .serviceBtn{margin-top: 30px;}
}


